.btn {

  @media (min-width: $vp-1200) {
    display: block;
    width: 230px;
    height: 57px;
    flex-shrink: 0;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    text-align: center;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
