.gym {
  @include vp-1200 {
    width: 100%;
  }

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.gym__wrapper {
  @include vp-1200 {
    display: grid;
    grid-template-columns: 500px 660px;
    align-self: center;
    justify-self: center;
    padding-top: 120px;
    padding-bottom: 235px;
  }

  @include vp-1199 {
    display: block;
    padding-top: 100px;
    padding-bottom: 183px
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 40px
  }
}

.gym__content-box {
  @include vp-1200 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-right: 50px;
    padding-left: 40px;
  }

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-right: 0;
  }

  @include vp-767 {
    align-items: start;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.gym__content-box h2 {
  margin: 0;

  @include vp-1200 {
    color: #102654;
    font-family: $ff-alumni;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.44px;
    padding-bottom: 25px;
  }

  @include vp-1199 {
    color: #102654;
    font-family: $ff-alumni;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.26px;
  }

  @include vp-767 {}
}

.gym__content-inner {
  @include vp-1200 {
    padding-top: 55px;
  }

  @include vp-1199 {
    width: 580px;
  }

  @include vp-767 {
    width: 272px;
  }
}

.gym__content-box span {
  margin: 0;

  @include vp-1200 {
    color: #102654;
    font-family: $ff-roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  @include vp-1199 {
    color: #102654;
    font-family: $ff-roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 50px;
  }

  @include vp-767 {}
}

.gym__content-box p {
  margin: 0;

  @include vp-1200 {
    color: #102654;
    font-family: $ff-roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
  }

  @include vp-1199 {
    color: #102654;
    text-align: center;
    font-family: $ff-roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding-bottom: 40px;
    text-align: start;
  }
}

.gym__content-box p:nth-child(2) {
  @include vp-1199 {
    display: none;
  }

  @include vp-767 {}
}

.gym__image-box {
  @include vp-1200 {
    background-image: url("../img/catalog/desktop/gym_1200.jpg");
    background-repeat: no-repeat;
    background-color: #102654;
    width: 660px;
    height: 401px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/desktop/gym_1200@2x.jpg");
      background-size: contain;
    }
  }

  @include vp-1199 {
    background-image: url("../img/catalog/tablet/gym_768.jpg");
    background-repeat: no-repeat;
    background-color: #102654;
    width: 678px;
    height: 345px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/tablet/gym_768@2x.jpg");
      background-size: contain;
    }
  }

  @include vp-767 {
    background-image: url("../img/catalog/mobile/gym_320.jpg");
    background-repeat: no-repeat;
    background-color: #102654;
    width: 320px;
    height: 313px;
    margin-bottom: 40px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/mobile/gym_320@2x.jpg");
      background-size: contain;
    }
  }
}

.gym__video {
  @include vp-1200 {
    position: absolute;
    width: 364px;
    height: 228px;
    top: 54%;
    left: 37%;
  }

  @include vp-1199 {
    width: 266px;
    height: 167px;
    position: absolute;
    top: 69%;
    left: 30%;
  }

  @include vp-767 {
    position: static;
    width: 320px;
  }

  // .gym__video-play {
  //   @include vp-1200 {
  //     position: absolute;
  //   }

  //   @include vp-1199 {}

  //   @include vp-767 {}
  // }
}
