.hero {
  @include vp-1200 {
    width: 100%;
    background: conic-gradient(from 145deg at 16% 39%, #003D85 32deg, #B80027 313deg, #003D85 360deg);
  }

  @include vp-1199 {
    width: 100%;
    background: conic-gradient(from 145deg at 16% 39%, #003D85 32deg, #B80027 313deg, #003D85 360deg);
  }

  @include vp-767 {
    width: 100%;
    background: conic-gradient(from 145deg at 16% 39%, #003D85 32deg, #B80027 313deg, #003D85 360deg);
  }

}

.hero__wrapper {

  @include vp-1200 {
    display: grid;
    grid-template-columns: 457px 500px;
    grid-template-areas:
      "A B";
    flex-wrap: wrap;
    padding-top: 51px;
    padding-bottom: 51px;
  }

  @include vp-1199 {
    display: grid;
    grid-template-columns: 354px 324px;
    grid-template-areas:
      "A B";
    flex-wrap: wrap;
    padding-top: 82px;
    padding-bottom: 82px;
  }

  @include vp-767 {
    display: block;
    width: 290px;
    padding-top: 82px;
    padding-bottom: 82px;
  }


}

.hero__box {

  @include vp-1200 {
    display: grid;
    grid-template-areas:
      ". B"
      "A C"
      ". D";
    grid-area: A;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    justify-self: center;
    padding: 121px 54px 45px 0;
  }

  @include vp-1199 {
    display: grid;
    grid-template-areas:
      ". B"
      "A C"
      ". D";
    grid-area: A;
    align-self: center;
    justify-self: center;
  }

  @include vp-767 {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      ". B"
      "A C"
      "D D";
    grid-area: A;
    align-self: center;
    justify-self: center;
  }

}

.hero__image {
  margin: 0;
  padding: 0;

  @include vp-1200 {}

  @include vp-1199 {}

  @include vp-767 {
    display: none;
  }
}

.hero__box span {
  @include vp-1200 {
    grid-area: B;
    justify-self: center;
    color: #FFF;
    font-family: $ff-alumni;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 25px;
  }

  @include vp-1199 {
    grid-area: B;
    justify-self: end;
    color: #FFF;
    font-family: $ff-alumni;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.02px;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  @include vp-767 {
    grid-area: B;
    color: #FFF;
    font-family: $ff-alumni;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.84px;
    text-transform: uppercase;
  }

}

.hero__box p {
  margin: 0;
  @include vp-1200 {
    grid-area: A;
    align-self: center;
    color: #FFF;
    text-align: right;
    font-family: $ff-roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    padding: 0;
  }

  @include vp-1199 {
    grid-area: A;
    align-self: center;
    color: #FFF;
    text-align: right;
    font-family: $ff-roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  @include vp-767 {
    grid-area: A;
    color: #FFF;
    text-align: right;
    font-family: $ff-roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    justify-self: left;
  }


}

.hero__picture-box {
  @include vp-1200 {}

  @include vp-1199 {}

  @include vp-767 {}

  grid-area: B;
}

.hero__box h1 {
  @include vp-1200 {
    grid-area: C;
    color: #FFF;
    text-align: right;
    font-family: $ff-alumni;
    font-size: 92px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 4.6px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 80px;
  }

  @include vp-1199 {
    grid-area: C;
    color: #FFF;
    text-align: right;
    font-family: $ff-alumni;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 60px;
  }

  @include vp-767 {
    grid-area: C;
    color: #FFF;
    text-align: right;
    font-family: $ff-alumni;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

}
